body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}

form {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

input,
select,
option,
button {
    cursor: pointer;
    height: 50px;
    background: none;
    border-radius: 5px;
}

form input[type='color'] {
    height: 55px;
    width: 90px;
    border: none;
    padding: none;
}

select,
option {
    width: 300px;
    font-size: 1.5rem;
    padding-left: 20px;
}

button {
    width: 200px;
    font-size: 1.2rem;
    border: 1px solid gray;
    margin-left: 5px;
}


#color-container {
    margin-top: 1.5rem;
    height: 85vh;
    display: flex;
}

.color-column {
    width: 20%;
    position: relative;
}

.color-column span {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.color-column span:last-child {
    width: 99%;
}


.copied-text {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background: white;
    padding: 20px 0;
    border-radius: 5px;
    font-size: 1.3rem;
    animation-duration: 2s;
    opacity: 0;
}

button:hover {
    background: rgb(236, 236, 236);
}

button:active {
    opacity: .7;
}



@media screen and (max-width:590px) {
    form {
        flex-wrap: wrap;
    }

    form input[type='color'],
    form select,
    form option {
        margin: 0;
        width: 50%;
    }

    form button {
        width: 100%;
    }
}

@media screen and (max-width:450px) {

    form input[type='color'] {
        width: 20%;
    }

    form select {
        width: 80%;
    }
}

@media screen and (max-width: 525px) {
    .color-column .hex {
        font-size: .8rem;
        height: 30px;
    }

    .copied-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 435px) {
    .color-column .hex {
        font-size: .6rem;
        height: 30px;
    }
}

@media screen and (max-width: 350px) {
    .copied-text {
        font-size: .6rem;
        padding: 10px 0;
    }
}


@keyframes copy-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}